
@charset "ISO-8859-1";
body{
  background-color: burlywood;
}
.home_page .page{
  margin-top: 20px;
  background-color: #21afde;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}
.home_page .page a{
  font-size: 20px;
  color:white;
}
.heading{
  background-color: #66998b;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: antiquewhite;
  border-left: 4px solid rgb(236, 59, 5);
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.p_content{
	/*color: #dd3005;
  background-color: crimson;*/
  padding: 10px 20px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: beige;
  background-color: #383;
}
.rupee{
  margin-top: 10px;
  background-color: rgb(5, 145, 75);
  color: antiquewhite;
  font-size: 20px;
  border-radius: 20px;
  letter-spacing: 2px;
  padding: 3px;
  
  align-items: center;
  display: flex;
  justify-content: center;
}
.form_cart {
  color: #dd3005;
}
.form_cart input {
  border-bottom: solid #7c7674;
  width: 220px;
}
.form_cart input[type="submit"] {
  border: none;
}
.form_cart input::placeholder {
  color: rgb(94, 91, 91);
}


/* dashboard css */
.box{
  padding: 60px 40px;
}
.title-heading h4{
	margin-bottom: 20px;
}
.select{
  width: 100px;
  outline: none;
  border: none;
  padding: 4px 10px;
}



.profile_jsp {
  background-color: #c9cace;
  min-height: 93vh;
}
.profile_jsp .container{
	
  padding: 0px 80px;
}
.profile_jsp_box {
  /* background-color: #8f8f8f; */
  text-align: center;
  
}
.profile_jsp_box .profile_jsp_content > .col-4 {
  background-color: #838686;
  padding: 8px;
  margin-bottom: 1px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.profile_jsp_box .profile_jsp_content > .col-3,.col,.col-6 {
  background-color: #9c9c9c;
  padding: 8px;
  margin-bottom: 1px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.profile_jsp_box .col {
  padding-right: 0;
}
.profile_jsp_box .col-8{
	padding:0;
}
.profile_jsp .title-heading {
  padding: 40px 130px;
  color: #fff;
  background-color: transparent;
}
.profile_jsp .title-heading h4{
	margin-bottom: 0;
}
.profile_jsp .profile_bg{
	/* background-color: #454644; */
	background-color:#d65702;
	width: 100px;
	
}
.profile_b > .col {
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 10px;	
}
.profile_jsp_content {
  font-size: 20px;
  letter-spacing: 1px;
}
.profile_jsp_content form {
  margin: 0;
}
.profile_jsp_content form input[type='password'] {
  border-color: #ddd;
}
.profile_jsp_content form input {
  width: 220px;
}
.profile_jsp_content form .row {
  margin: 0;
}
#appointment{
	background: #050515;
	color: #d6d6d6;	
}
.appointment .box{
background:transparent;
border: 2px solid aquamarine;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 10px;
}
.appointment .title-heading a{
	color:#ffff00;
	transition:all 0.4s;
}
.appointment .title-heading a:hover{
	color:#00ff40;
}
.appointment .box .title-heading {
  padding: 10px;
}
/* add appointment css */
.appointment .row{
	padding-bottom:10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.appointment .row .col-5{
	width:300px;
}
.appointment form .col{
background: transparent;
}
.appointment form input{
	color:chartreuse;
/* 	width:inherit; */
}
.appointment form .col-8{
	width:305px
}