@charset "ISO-8859-1";
@media (max-width:1221px) {
  .logo h4{
    font-size: 20px;
    margin-top: 4px;
  }
  .nav li a{
    padding: 11px 6px;
    font-size: 15px;
  }
  #header .container{
    max-width: 890px;
  }
  .login-banner img {
    width: 260px;
    height: 200px;
  }
  .offset-2 {
    margin-left: 6%;
  }
  .input_format+.col-6>input{
    width: 200px;
  }
  .section-pad{
    padding: 130px 40px;
  }
}
@media (max-width:995px){
  .login_body2 .section-pad{
    padding: 50px 30px;
  }
  .section-pad .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
  .login-banner img {
    width: 190px;
    height: 130px;
    margin-bottom: 10px;
  }
  .heading h4{
    margin-top: 10px;
    margin-bottom: 0;
  }
  .section-pad form .row{
    display: flex;
    flex-direction: row;
  }
  .section-pad .btn{
    width: 200px;
    margin: 0;
  }
}