@charset "ISO-8859-1";
/* universal */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: all 0.5s;
}
a {
  color: #0c2461;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
  color: #0c246189;
}
span {
  color: #113eaf;
  padding: 0;
  margin: 0;
}
h1,
h4,
h2,
h3,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
.pr-2,
.px-2 {
  padding-right: 0.2rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.3rem !important;
}
.title-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  /* background-color: #57606f; */
  background-color: #4b82c4;
  color: #efe;
  text-transform: uppercase;
}
.title-container {
  padding-bottom: 50px;
}
li {
  list-style: none;
}
/* custom */
#header {
  background-color: #95a5a6;
}
.logo {
  margin-top: 5px;
  cursor: pointer;
}
.logo h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1b1464;
}
.logo a:hover {
  color: #0c2461;
}
.nav li a {
  display: block;
  padding: 10px 6px;
  font-size: 15px;
  font-weight: 550px;
}
.nav li a:hover {
  background-color: #b9cece;
  z-index: 3;
}

/* user dashboard csss */

.has-dropdown {
  padding-top: 10px;
  position: relative;
}
.has-dropdown a:hover {
  color: #05102e;
}
.nav_floating_menu {
  margin-bottom: 0;
}
.nav_floating_menu ul {
  position: absolute;
  left: -40px;
  background-color: #95a5a6;
  visibility: hidden;
  padding: 10px;
  text-align: center;
}
.nav_floating_menu:hover ul {
  top: 100%;
  visibility: visible;
  z-index: 1;
}
.nav_floating_menu ul li {
  padding: 2px;
  text-align: center;
}
.nav_floating_menu ul li a {
  color: #040933;
}
.nav_floating_menu ul li a:hover {
  color: #31426e;
}

.menu {
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
}
.bg-pic {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-bg {
  background-image: url("4.PNG");
  height: 70vh;
}
.title {
  display: flex;
  /* height: 70vh; */
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  background-color: #3b3b98;
  color: white;
}
.title h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #05c2c2;
  margin-bottom: 20px;
}
.title p {
  letter-spacing: 1px;
}
pre {
  color: white;
}

/* login  module */
#login_body {
  background-color: #cccdcf;
}
.section-pad {
  height: 82vh;
  padding: 95px 60px;
}
.login_body2 .section-pad, .for_body2 .section-pad{
  padding: 155px 60px;
}
.login-banner {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-banner img {
  width: 320px;
  height: 240px;
  filter: brightness(0) invert(30%);
  border-radius: 10%;
  border: 2px solid;
}
.heading h4 {
  margin-bottom: 16px;
  justify-content: center;
  display: flex;
  padding-bottom: 30px;
  letter-spacing: 4px;
  color: #113eaf;
}
label {
  color: #ff4757;
  margin-bottom: 0;
}
.input_format {
  padding: 10px;
}
input {
  outline: none;
  border: none;
  border-bottom: 2px solid #cad3c8;
  font-size: 16px;
  width: 270px;
  letter-spacing: 1px;
  padding: 6px 8px;
  margin: 3px;
  background-color: transparent;
  color: #df7a5b;
  border-bottom: 1px solid #95a5a6;
}
form .btn {
  width: 100%;
}
input[Type="submit"] {
  margin-top: 10px;
  border: none;
  width: 150px;
  padding: 5px;
  background-color: #182c61;
  color: #b9cece;
  transition: all 0.5s;
}
input[Type="submit"]:hover {
  background-color: #3c5db6;
  color: white;
}
.gender-col{
	display: flex;
	justify-content: center;
	align-items: center;
}
.gender-col input[type=radio]{
	width: 15px;
}




.course {
  background-color: #4b82c4;
}
.course-box {
  color: white;
  border: 2px solid white;
  background-color: #05102e;
  padding-top: 30px;
  margin: 10px 6px 0 0;
  /* height: 400px; */
}
.row-cols-3 > * {
  max-width: 32.334%;
}
.course-box .heading h4 {
  margin: 0;
  padding: 10px;
  color: #05c2c2;
  text-transform: uppercase;
}
.c-img {
  justify-content: space-around;
  display: flex;
}
.c-img img {
  filter: invert(1);
  width: 120px;
  height: 120px;
}
.c-img2 img{
  filter:none;
  width: 135px;
  height: 120px;
  background: transparent;
}
.paragraph {
  color: white;
  text-align: center;
  font-size: 16px;
}
.course-box:hover {
  background-color: #021342f1;
  cursor: pointer;
}

/* diet plans css */
.diet {
  background-color: #104e77;
  overflow: hidden;
}
.diet .title-heading {
  background-color: #104e77;
}
.diet .diet-box {
  /* margin-left: 10px; */
  padding: 10px;
  overflow: hidden;
  /* background-color: #a5a5a5; */
  background-color: #d69292;
  /* border-radius: 15px 0 15px 0; */
  border-left: 5px solid #d65702;
}
.diet .heading h4 {
  padding: 0;
  letter-spacing: 1.5px;
  padding-top: 10px;
  color: #030d66;
}
.diet li {
  text-align: left;
  color: #fff;
}
.diet .btn {
  margin-top: 10px;
  padding: 0;
  margin-right: 10px;
}
.contact {
  background-color: #8d4689;
}
.contact .title-heading {
  background-color: #8d4689;
}
textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(226, 217, 217);
  resize: none;
}
.textarea-css {
  margin: 0;
  padding: 0;
}
.contact label {
  color: #ddd;
  padding-top: 10px;
  letter-spacing: 2px;
}
.contact input {
  color: #d1d9f0;
}
.contact input::placeholder {
  color: #d2d4d8;
  letter-spacing: 1px;
}
textarea::placeholder {
  color: #d45a09e7;
  text-transform: uppercase;
  padding: 2px;
}
.product .title-heading {
  background-color: #32888b;
}

.product {
  background-color: #32888b;
}
.product_box {
  /* border: 1px solid gray; */
  padding: 10px;
  text-align: center;
  color: #e0e0d4;
}
.product_box img {
  filter: brightness(1);
  width: 220px;
  height: 120px;
}
.product_box p-img2 img{
	filter:none;
}
.product a img {
  width: 170px;
}
.product_box p {
  padding-top: 30px;
  align-items: center;
}
.product_box .product_a_tag{
	display:flex;
	justify-content:center;
	color:white;
    align-items: center;
    padding: 20px;
    font-size: 24px;
}
.about {
  background-color: #ffffff;
}
.about .title-heading {
  background-color: #ffffff;
  color: #0661d8;
}
.footer {
  color: #95a5a6;
  text-align: center;
  background-color: #05102e;
}

.dashboard {
  background-color: #2b2b2c;
  min-height: 93vh;
}
.dashboard .title-heading {
  padding: 10px 0px;
}
.dashboard .col-12 {
  padding: 0;
}
.dashboard .container {
  padding-bottom: 0px;
  padding-top: 40px;
}
.dashboard_content {
  background-color: #d65702;
  text-align: center;
  padding: 3px;
  color: #e7f150;
  font-size: 20px;
}
.dashboard .course_name {
  color: #ddd;
}
hr {
  margin-top: 2px;
  margin-bottom: 0rem;
  border: 0;
  border-top: 0px;
}
.user_head{
  border: 2px solid rgb(250, 245, 245);
  background-color: #064b66;
  padding: 5px;
}
.user_head .title-heading{
  background-color: transparent;
}
.user_head .title-heading input::placeholder{
  color: #cfd3d4;
}
.user_head .title-heading input[type=text]{
  width: 150px;
}
.user_head .title-heading input[type=submit]{
  width: 100px;
  display: none;
  margin: 0;
  margin-left: 4px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
}
.user_head form{
  margin: 0;
}
.user_head .title-heading i{
  color: #20dddd;
}
.user_head .col-8,.user_head .col-4{
  padding: 0;
  margin: 0;
}
.user_content{
  border: 2px solid rgb(250, 245, 245);
  background-color: #5e5efc;
  text-align: center;
  padding: 5px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
}
.user_detail{
	background-color: #d2d2d2;
	border-bottom:1px solid; 
	text-align: center;
	padding: 4px;
  font-size: 18px;
  border-left: 2px solid rgb(250, 245, 245);
  border-right: 2px solid rgb(250, 245, 245);
}
.user_detail:nth-child(odd){
	background-color: #e5e5e5;
}
.box {
  background-color: #3a8188;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
}
.box .title-heading {
  padding-top: 20px;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  display: flex;
}

.testimonial .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonial .content .testimonialBx {
  max-width: calc(50% - 40px);
  padding: 40px 20px;
  margin: 20px;
  background: #2196f3;
}
.testimonial .content .testimonialBx p {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}
.testimonial .content .testimonialBx h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}
.testimonial .content .testimonialBx h3 span {
  font-weight: 400;
  font-size: 14px;
}
/* additional change into login, sign-up page */
.profile_select select {
  height: 80%;
  background: transparent;
  width: 100px;
  color: #df7a5b;
  padding-left: 10px;
}
select option {
  background-color: #fff;
  color: #0c2461;
  outline: none;
}
select option:hover {
  color: #df7a5b;
}

.admin_manupulation {
  /* display: flex; */
  background-color: #025169;
  padding: 10px 0;
}
.admin_manupulation .crud_box {
  display: flex;
  align-items: center;
}
.crud_box .btn-1 {
  text-align: center;
  padding: 20px;
}
.crud_box .btn-1 a {
  border-radius: 7px;
  background-color: #ddd;
  padding: 10px 15px;
}
.crud_box button {
  padding: 10px 15px;
  outline: none;
  border: none;
  box-shadow:1px 1px 5px white,-1px -1px 5px black;
}

.popup_container {
  background-color: #180241;
  display: none;
  padding: 0 30px 30px 30px;
}
.popup_container .add_content {
  margin: 0;
  justify-content: center;
  align-items: center;
}
.add_content input {
  display: flex;
  flex-direction: column;
}
.popup_btn {
  text-align: center;
  align-items: center;
}
.popup_container .title-heading {
  background-color: #180241;
}
.popup_decorate {
  display: flex;
  align-items: center;
}
.feedback {
  background-color: #e2f3e2;
  min-height: 93vh;
  padding: 40px 130px;
}
.feedback .title-heading {
  background-color: #e2f3e2;
  margin-bottom: 20px;
}
.feedback_btn a {
  background-color: #486ac0;
  color: #fff;
  padding: 6px 20px;
  margin-top: 10px;
}
.feedback .row > * {
  text-align: center;
  padding: 5px 10px;
}
.feedback_btn input[type="submit"] {
  width: auto;
  padding: 6px 10px;
}
.wallet{
  min-height: 90vh;
  padding: 0;
  background-color: #17a2b8!important;
  /* background-color: #051129; */
}